@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @apply font-roboto;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@layer utilities {
  /* Custom chart styles */
  .chart-axis > path,
  .chart-axis > g > line {
    @apply dark:stroke-neutral-800 stroke-neutral-400;
  }

  .chart-axis > g > text {
    @apply dark:text-neutral-500 text-neutral-500;
  }

  .grid-lines > .tick > line {
    @apply dark:stroke-neutral-800 stroke-neutral-400;
  }

  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-500 dark:bg-neutral-700 rounded-lg;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-transparent;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-green-primary dark:bg-green-primary-dark;
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent rounded;
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    @apply bg-transparent;
  }
}

body {
  --radial-menu-background: #fff;
  --radial-menu-color: #000;
  --radial-menu-border: #aacbd2;
  --radial-menu-active-color: #000;
  --radial-menu-active-background: #d8e6ea;
}

/* #region React Flow Theming */

.react-flow__node-default {
  border: 0 !important;
  background-color: transparent !important;
  border-radius: 0.375rem !important;
}

.light .react-flow__node-default {
  --xy-node-boxshadow-selected-default: 0 0 0 1px #00866e !important
	  ;
}

.dark .react-flow__node-default {
  --xy-node-boxshadow-selected-default: 0 0 0 1px #00866e !important
	  ;
}

/* #endregion */

/* #region BB Theming */
.bb-axis .tick line {
  @apply hidden;
}
.bb text {
  @apply text-basic-12-auto-regular;
}

.bb-grid > .bb-ygrids line,
.bb-xgrids line {
  stroke-dasharray: none;
  @apply !stroke-neutral-400 dark:!stroke-neutral-800;
}
.bb-axis .domain,
.bb-axis line {
  @apply !stroke-neutral-400 dark:!stroke-neutral-800;
}

.bb-axis > .tick text tspan,
.bb-axis > text,
.bb-axis > g > text {
  @apply !fill-neutral-500;
}

.bb-levels text {
  @apply !fill-neutral-500 !text-basic-12-auto-regular;
}

.bb-levels polygon {
  @apply !stroke-neutral-400 dark:!stroke-neutral-800;
}

.bb-tooltip {
  @apply bg-white overflow-hidden rounded-sm border-none !text-black !opacity-100;
}

.bb-tooltip tbody tr,
.bb-tooltip tbody tr td {
  @apply border-0;
}

.bb-tooltip tr th {
  @apply !text-basic-11-auto-regular text-neutral-800 bg-transparent;
}
.bb-tooltip td {
  @apply !text-basic-11-auto-regular text-black;
}
.bb-tooltip td span {
  @apply rounded-full;
}
.bb-legend-background {
  @apply !fill-neutral-300 dark:!fill-neutral-800 !stroke-none;
}
.bb-legend-item text {
  @apply text-basic-12-auto-regular !fill-black dark:!fill-white;
}

.bb-gauge-value {
  @apply !fill-neutral-500;
}

.bb-arc {
  @apply !stroke-none;
}

.bb-chart-arcs-background {
  @apply !stroke-white dark:!stroke-black	!fill-neutral-400 dark:!fill-neutral-900;
}
.bb-arc-label-line {
  @apply !fill-neutral-500 !stroke-none;
}

.bb-candlestick line,
.bb-candlestick path {
  @apply !stroke-neutral-900 dark:!stroke-neutral-600;
}

.bb-chart-arc text {
  @apply text-basic-12-auto-regular fill-black dark:fill-white;
}

/* #endregion */

/* #region D3 Custom Components Theming */
.chart-sankey .labels text {
  @apply text-basic-12-auto-regular fill-black dark:fill-white;
}

.chart-chord .groups text {
  @apply text-basic-12-auto-regular fill-black dark:fill-white;
}

/* #endregion */

/* #region React Grid Layout Theming */
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  /* border:#707D7A dashed 1px;
	border-radius: 4px; */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c18' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 4px;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;

  @apply border-r-2 border-b-2 border-neutral-600 dark:border-neutral-800;
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle {
  @apply prevent-select;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

.react-grid-item.cssTransforms {
  transition-property: none;
}
.animated .react-grid-item.cssTransforms {
  transition-property: transform;
}

/* #endregion */

/* #region React Mosaic Theming */

/* .mosaic.mosaic-blueprint-theme {
  &.mosaic-drop-target,
  .mosaic-drop-target {
    .drop-target-container .drop-target {
      @apply !rounded-md !bg-neutral-500/20 !border-green-primary dark:!border-green-primary-dark transition-opacity duration-100;
    }
  }

  .mosaic-split:hover {
    background: none;
    .mosaic-split-line {
      @apply !shadow-[0_0_0_1px] !shadow-green-secondary dark:!shadow-green-secondary-dark;
    }
  }

  @apply bg-transparent;
  .mosaic-root {
    @apply !top-1 !bottom-1 !left-1 !right-1;
    .mosaic-tile {
      @apply !m-1;
      .mosaic-window,
      .mosaic-preview {
        @apply !rounded-md;
        .mosaic-window-toolbar {
          @apply !bg-white dark:!bg-black border-b !border-neutral-500 dark:!border-neutral-800;
          &.draggable:hover {
            background: none;
            @apply !bg-white dark:!bg-black;
          }
          .mosaic-window-title {
            @apply !text-black dark:!text-white hover:!text-green-primary dark:hover:!text-green-primary-dark hover:!bg-black/10 dark:hover:!bg-white/10;
          }
        }
        .mosaic-window-body {
          @apply !bg-white dark:!bg-black;
        }
      }
    }
  }
} */

.cm-scroller {
  @apply scrollbar;
}
