.mosaic.myMosaicLayout {
  background: none;

  .mosaic-zero-state {
    background: none;
    @apply rounded-md shadow-[0_0_0_1px] shadow-black dark:shadow-white;
    .default-zero-state-icon {
      font-size: 120px;
    }
  }

  .mosaic-split:hover {
    background: none;
    .mosaic-split-line {
      @apply shadow-[0_0_0_1px] shadow-green-secondary dark:shadow-green-secondary-dark;
    }
  }

  &.mosaic-drop-target,
  .mosaic-drop-target {
    .drop-target-container .drop-target {
      background: none;
    }
  }

  .mosaic-window,
  .mosaic-preview {
    @apply rounded-md text-black dark:text-white bg-white dark:bg-black;
    .mosaic-window-toolbar {
      background: none;
      @apply bg-white border-b border-neutral-500 dark:bg-black dark:border-neutral-800;

      &.draggable:hover {
        background: none;
        @apply bg-white dark:bg-black;
        .mosaic-window-title {
          @apply text-black hover:text-green-primary dark:text-white dark:hover:text-green-primary-dark;
        }
      }
    }

    .mosaic-window-title {
      @apply text-black hover:text-green-primary hover:bg-black/10 dark:text-white dark:hover:text-green-primary-dark dark:hover:bg-white/10;
    }

    .mosaic-window-controls {
      .separator {
        @apply border-l border-neutral-500 dark:border-neutral-800;
      }
    }
  }

  .default-preview-icon {
    font-size: 72px;
  }

  .mosaic-window-body {
    @apply bg-white dark:bg-black;
  }
}
